body {
       font-family: 'Roboto', sans-serif;
       font-size: 20px;
       line-height: 1.5;
			 padding: 0 35px;

     }
		 img {
		   width: 300px;
		   height: 250px;
		 }
     /* nav */
    		 .main-nav {
    		 margin-top: 5px;
         padding:20px;
         list-style:none;
         width:525px;
    		 }

         nav ul li a:hover, nav ul li a:focus {
           color: black;
           background-color: lightblue;
           font-weight: bold;
         }

         * {
     box-sizing: border-box;
     }
     .contact-div {
       font-family: 'EB Garamond', serif;
     }
     h1 {
       font-size: 30px;
     }
     section {
       background-color: lightblue;
       box-shadow: 10px 10px 5px #888888;
     }
h3 {
  color: blue;
}
/* media queries*/
     @media screen and (min-width: 768px) {
  header {
    height: 325px;
  }
  }
  .main-nav {
  align-content: center;
  text-align: center;
}

.main-nav li {
  display: inline-block;
  text-align: center;
  align-content: center;
}
.profile {
    float: right;
    width: 250px;
  }
  .pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
      width: 50%;
      height: 400px;
      float: left;
    }
    .skills {
      clear:both;
      padding-top: 50px;
      margin-top: auto;
    }

    @media screen and (min-width: 1024px) {
        header {
        height: 350px;
      }
      }
      .main-nav {
          float: right;
          text-align: center;
          position: absolute;
          top: 3%;
          right: 3%;
        }
        .main-nav li {
            display: inline-block;
            text-align: center;
          }
          .profile {
             float: right;
             width: 300px;
           }
        .pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
       width: 30%;
       height: 450px;
       float: left;
       text-align: center;
       padding-left: 20px;
     }
     .skills {
         clear: both;
         padding-top: 50px;
         text-align: center;
         margin-top: 20px;
       }
       .contact-div {
         text-align: center;
       }
.end-name {
  text-align: left;
}
.footer-lrg {
      text-align: right;
}
.footer-sm {
  visibility: hidden;
}
